#sketchFrame.right{
  transform: translateX(0vw);
}

#sketchFrame.left{
  transform: translateX(50vw);
}

div#sketchFrame{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -500;
  top:0;
  left:0;
}

.canvasContainer{
}

#sketchFrame div {
}

canvas{
}
