header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: flex-end;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  height: 81px;
  background-color: transparent;
  padding-right: $large_padding;
  padding-left: $large_padding;
}

#dotWrapper{
  height: 33px;
  display: flex;
  align-items: center;
}

#dot{
  width: 12px;
  height: 12px;
  border-radius: 99px;
  border: 0;
  outline: none;
  padding: 0;
  bottom:0;
  transition: transform 400ms;
}

#dot:hover{
  transform: scale(3);
  cursor: pointer;
}

////FOOTER//////////////////////////////////////////////////////////////////////

footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  height: 0px;
  background-color: inherit;
}
