
aside#pageWrap{
  overflow: hidden;
  height: 100vh;
  width: 50vw;
  top: 0;
  -webkit-overflow-scrolling: touch;
  background-color: white;
  transition: transform 400ms;
  @include for-tablet-down {
    width: 90vw;
  }
}

aside#pageWrap:nth-child(1){
  transform: translateX(0vw);
  // border-left-width: 1px;
  // border-left-style: solid;
}

aside#pageWrap:nth-child(2){
  transform: translateX(50vw);
  border-left-width: 1px;
  border-left-style: solid;
  z-index: 90;
  @include for-tablet-down {
    transform: translateX(90vw);
  }
}

.moveRight{
  transform: translateX(10vw) !important;
}

div#wrap {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

ol, ul{
  margin-left: 0;
}


li{
  padding-bottom: 1rem;
}

section{
  padding: $large_padding;
  min-width: 50vw;
}

section.tile{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img{
  max-width: 100%;
  height: auto;
  background-color: $silver;
}

#downArrowContainer{
  width: 32px;
  height: 42px;
  bottom: $large_padding;
  right: $large_padding;
}

#downArrow{
  transition: transform 300ms, opacity 250ms;
}

//// CANVAS ////////////////////////////////////////////////////////////////////

#sketchFrame{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500; //reminder this is important
  top:0;
  left:0;
  pointer-events: all;
}
