#D3{
  width: 100px;
  height: 100vh;
  position: absolute;
  top:0;
  right:0;
  z-index: 400;
  display: block;
  pointer-events: visible;
}

.centerCircle:hover{
  cursor: pointer;
}

.flyCircle:hover{
  cursor:pointer;
}
