#pickerContainer{
  position: fixed;
  margin-right: $large_padding;
  height: 33px;
  display: flex;
  align-items: center;
}

#picker{
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 40px;
  transition: transform 300ms;
  will-change: transform;
}

#picker:hover{
  cursor: pointer;
  transform: scale(1.33);
}

/////

#D3{
  width: 50vw;
  height: 100vh;
  top:0;
  right:0;
  z-index: 999;
  pointer-events: visible;
  clip-path: circle(40.0% at 50% 50%);
  will-change: opacity;
}

#crosshair{
  position: absolute;
  display: block;
  top: 50vh;
  left: 25vw;
  background-image: url('./assets/crosshair.svg');
  background-size: contain;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  z-index: 999;

}

canvas#colorLens{
  filter:blur(10px);
  cursor: grab;
}

canvas#colorLens:active{
  cursor:grabbing;

}


.centerCircle:hover{
  cursor: pointer;
}

.flyCircle:hover{
  cursor:pointer;
}

////

.swatch{
  position: absolute;
  display: block;
}
