/////// Vars ///////////////////////////////////////////////////////////////////

$black:     black;
$white:     white;
$blue:      rgb(0, 33, 255);
$lightBlue: rgb(80, 129, 255);
$silver:    silver;

$large_padding: 3rem;

/////// Mixins /////////////////////////////////////////////////////////////////

@mixin for-tablet-down {
  @media (max-width: 768px) { @content; }
}

/////// Atomics ////////////////////////////////////////////////////////////////

.noNum{
  list-style: none;
}

.circleB{
  border-radius: 3px;
  display: block;
  height: 35px;
  border: none;
  outline: none;
  flex: 1;
  pointer-events: all;
  transition: 100ms;
  margin-left: 1px;
}

.circleB:hover{
  cursor: pointer;
  flex: 1.2;
}

.circleB:active{
  flex: 1.4;
}

.palleteButton{
  border-radius: 3px;
  display: block;
  height: auto;
  border: none;
  outline: none;
  flex: 1;
  pointer-events: all;
  margin: 0;
  padding: 0;

  background-color: inherit;
  transition: background-color 200ms;
}

.palleteButton:hover{
  cursor: pointer;
  text-decoration: underline;
}

.palleteButton:active{
}

.borderW{
  border: 1px solid #444;
}



.mr05{
  margin-right: 0.0rem;
}

.mt4{
  margin-top: 4rem;
  @include for-tablet-down{
    margin-top: 2rem;
  }
}

.mt6{
  margin-top: 6rem;
  @include for-tablet-down{
    margin-top: 3rem;
  }
}

.flexList{
  display: flex;
  flex-direction: column;
}

.flexBetween{
  display: flex;
  justify-content: space-between;
}

.mp0-l{
  margin-left:0;
  padding-left:0;
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
}

.fadeIn{
  opacity: 1;
  visibility: visible;
  transition: visibility 0.3s step-start, opacity 0.3s linear;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s step-end, opacity 0.3s linear;
}

.slideIn{
  opacity: 1;
  transform: translateY(0);
}

.slideOut{
  opacity: 0;
  transform: translateY(-10px);
}

.circleButton{
  border-radius: 100px;
  width: 20px;
  height: 20px;
  z-index: 999;
  background-color: black;
  color: black;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}



/////// Type ///////////////////////////////////////////////////////////////////
@font-face {
 font-family: "NeueHaas";
 src: url("./fonts/HaasGrotDisp-55Roman.otf");
 font-weight:400;

}

* {
  font-family: 'NeueHaas', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  letter-spacing: .07rem;
  font-weight: 400;
  // font-family: sans-serif;
  font-size: 24px;
  color: inherit;
  border-color: inherit;
  @include for-tablet-down {
    font-size: 16px;
  }
}

h1, h2, h3, img{
  user-select: none;
}


ol{
  // margin-top: 4rem;
}
// Only used for logo
h1{
  margin-top:0;
  padding-top:0;
  line-height: normal;
}

h2{
  margin-bottom: 2rem;
}

.tm:after{
  content:'™';
  font-size: 12px;
  top: -10px;
  left: 1px;
  position: relative;
}

// for all other headings
h2{
  margin-top:0;
  padding-top:0;
  line-height: normal;
}

//not used
h3{
  margin-top:0;
  padding-top:0;
}

strong{
  font-weight: 500;
}

p {
  padding-top: 0;
  margin-top: 0;
}


a{
  text-decoration: underline;
  color: inherit;
  transition: color 200ms;
}

a:visited{
  text-decoration: line-through;
  color: inherit;
}

a:hover{
  color: inherit;
  opacity: .5;
}
