@font-face {
  font-family: 'Work Sans';
  src: url('/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
 }

 @font-face {
   font-family: 'Work Sans';
   src: url('/fonts/WorkSans-Medium.ttf') format('truetype');
   font-weight: 500;
  }

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600,800');


$primary-color: #f44842;
$primary-color: rgba(0,0,255,1);

$headerBG: rgba(255, 255, 255, 1);
$dismissBG: rgba(255, 255, 255, .65);

* {
  box-sizing: border-box;
  transition: opacity 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-overflow-scrolling: touch;
}

html { height: 100%; overflow:auto; }

b, strong {
  font-weight: 600;
}

a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  text-decoration: line-through;
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
  max-width: 600px;
  // font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=VT323');


body {
  height: 100%;
  font-family: sans-serif;
  color: #091930;
  // background-color: floralwhite;
  background-color: #f1f1f1;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: .005rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  min-height: 0;
  min-width: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.quip{
  // transform: translate(-50%, -50%) rotate(90deg);
  position: fixed;
  text-align: left;
  width: 100vw;
  text-align: center;
  white-space:nowrap;
  bottom: 0px;
  font-size: 48px;
  color: blue;
}

.sideLeft span, .sideRight span {
    top: 90px;
    left:50%;
    position: absolute;
    text-align: center;
    white-space:nowrap;
    transform-origin:50% 50%;
    font-size: 16px;
}
.sideLeft span {
    transform: translate(-50%, -50%) rotate(90deg);
}
.sideRight span {
    top: 96px;
    transform: translate(-50%, -50%) rotate(90deg);
}
.sideLeft, .sideRight {
    height: 100%;
    position: fixed;
    top: 0;
    width: 105px;
    margin-right: -5px;
    transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1);

}
.sideLeft {
    // left: 0;
    background-color: #252525;
    right: 100px;
    z-index: 4;
    // opacity: .5;
}
.sideLeft:hover{
  opacity: 1;
  cursor: pointer;
  transform: translatex(-5px);
}
.sideRight {
    right: 0;
    background-color: blue;
    z-index: 5;
    // opacity: .5;
}
.sideRight:hover{
  opacity: 1;
  cursor: pointer;
  transform: translatex(-5px);
}

.sideLeft.open{
  // z-index: 100;
}

.sideLeft a{
  transition: color 400ms cubic-bezier(0.77, 0, 0.175, 1);
  color: white;
}

.sideRight.open{
  z-index: 100;
}

.sideRight a{
  color: white;
}

main{
  padding-left: 3rem;
  padding-top: 13rem;
  width: calc(100% - 270px);
  z-index: 0;
  transform: translateY();
  will-change: transform;
  transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1);
  overflow: visible;
}

main.open{
  transform: translateY(-100vh);
}

.update{
  position: fixed;
  text-align: left;
  height: 100px;
  font-size: 16px;
  width: calc(100% - 200px);
  padding-left: 3rem;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  transition: background-color 400ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: opacity 400ms ease;
  opacity: .5;
  z-index: 3;
  cursor: help;
}

.update:hover{
    opacity: 1;
}

.update.open{
  cursor: pointer;
  color: $primary-color;
}

.update.open .icon{
  margin-top: 0px;
  font-size: 16px ;
  color: $primary-color;
}

.update p{
  max-width: 1200px;
}

.icon{
  font-size: 30px;
  margin-top: -5px;
}

.text{
  padding-left: 1rem;
  // max-width: 550px;
}

.medium{
  font-weight: 500;
}

.asking{
  padding-top: 5rem;
  opacity: .5;
  padding-bottom: 5rem;
  font-size: 20px;
  transition: color .3s ease;
}

.asking:hover{
  opacity: 1;
}

.askingTitle{
  opacity: .5;
}

ul{
  padding: 0;
  margin-top: 0;
  list-style: none;
}

ol {
  padding: 1em;
  margin-top: 0;
  padding-top: 10px;
  // list-style: none;
  counter-reset: section;
  // color: rgba(0,0,0,.3);
  font-size: 12px;

}

ol span{
  // color: black;
  font-size: 20px;
}

// ol li:before {
//     counter-increment: section;                 /* Increment the value of section counter by 1 */
//     content: counter(section);
//     // content: "• ";
//     color: rgba(0,0,0,.3); /* or whatever color you prefer */
//     font-size: 12px;/* or whatever the bullet size you prefer */
//     padding-right: 1rem;
// }

ul li{
  padding-bottom: .75rem;
}

ol li{
  padding-bottom: .75rem;
}

.image{
  max-width: 40rem;
  z-index: -99;
  transition: opacity 400ms ease;
  // opacity: 0;
}

.image.loaded{
  opacity: 1;
}

.introText p{
  max-width: 1000px;
  // line-height: 1.2;
    // font-family: 'Times New Roma';
  font-size: 64px;
  font-weight: 500;
}

.introText p:nth-child(2){
  font-size: 32px;
  font-weight: 400;
  max-width: 900px;
}


.info{
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 40rem;
  max-width: 100vw;
  color: white;
  height: 100vh;
  transform: translateX(100vw);
  will-change: transform;
  transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1);
  // transition: left 400ms cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #252525;
  overflow-x: hidden;
  padding: 5rem;
  padding-left: 120px;
  z-index: 4;
  font-size: 20px;
  top: 0;
}

.info.open{
  // left: 0vh;
  transform: translateX(0rem);
  transform: translateX(calc(100vw - 50rem));
}

.info img {
  max-width: 20rem;
}

.info a{
  color: white;
  text-decoration: underline;
}

.info a:hover{
  color: white;
  text-decoration: line-through;
}

.info ul{
  // list-style: decimal-leading-zero;
}

.projects{
  position: fixed;
  overflow-y: scroll;
  width: 30rem;
  color: #777;
  height: 100vh;
  transform: translateX(120vw);
  z-index: 3;
  will-change: transform;
  transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1);
  background-color: $primary-color;
  color: #ccc;
  // font-weight: 500;
  z-index: 5;
  padding-left: 4rem;
  padding-top: 4rem;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
}

.projects a{
  font-weight: 400;
  color: white;
}

.projects.open{
  transform: translateX(calc(100vw - 30rem));
}

.projectsBG{
  position: fixed;
  background-color: $dismissBG;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.77, 0, 0.175, 1);
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.projectsBG.open{
  opacity: 1;
  top: 0;
  z-index: 2;
}

.fixedImage{
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 20vw;
  z-index: -9999;
}

.fixedImage p{
  margin-top: -50px;
  margin-right: -20px;
  // padding-right: 20px;
  max-width: 550px;
  height: 0px;
  // padding-top: 10px;
  font-size: 36px;
  text-align: left;
  color: black;
  opacity: .5;
}

.fixedImage.color p{
  color: blue;
}

.fixedImage.color img{
  // transition: opacity 500ms cubic-bezier(0.77, 0, 0.175, 1);
  // opacity: 1;
}

.fixedImage img{
  filter: grayscale(100%) brightness(1);
  opacity: .3;
}

.fixedImage img:hover{
  // filter: grayscale(100%) brightness(1);
  // opacity: 1;
}

.asking ul{
  margin-top: 1rem;
}

.question{
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: #f1f1f1;
  transform: translateY(100vh);
  will-change: transform;
  transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 2;
  padding-top: 5rem;
  font-size: 20px;
  padding-left: 170px;
  padding-right: 10vw;
  padding-top: 120px;
  padding-bottom: 120px;
}

.question.open{
  transform: translateY(0);
}

.question h6{
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  opacity: .6;
}

.question p{
  font-size: 16px;
}

.body{
  padding-left: 50px;
  flex: 1;
}

.question img{
  // opacity: .5;
  // filter: grayscale(100%) brightness(1);
  transition: opacity 400ms ease;
  max-width: 600px;
  width: 60vw;
  // float: left;
}

.question img:hover{
  opacity: 1;
  filter: grayscale(0%) brightness(1);
}

.title{
  font-family: 'VT323';
  font-size: 24px;
  margin-left: -50px;
  margin-bottom: -60px;
}

.titleArrow{
  padding-right: 2rem;
}

.noscroll{
  position: fixed;
  width: 100%;
  height: 100%;
}

.dim {
  opacity: .1;
}

.blue{
  font-weight: 500;
  cursor: help;
}

.imgLoader{
  z-index: -99999;
  visibility: hidden;
  position: fixed;
}

.smallTitle{
  display: none;
  width: 100%;
}

@media only screen and (max-width: 1000px) and (min-width: 550px) {

  main{
        padding-top: 10rem;
        padding-bottom: 7vh;
  }
  ol span{
    font-size: 16px;
  }
  .asking {
    font-size: 16px;
  }
  .fixedImage{
    padding-right: 0vw;
  }
  .fixedImage img{
    max-height: 50vh;
  }
}


@media only screen and (max-width: 550px) {
  body {
    font-size: 16px;
    text-align: center;
  }
  main{
    padding: 2rem;
    font-size: 20px;
    padding-top: 20vh;
    padding-bottom: 10vh;
    width: 100vw;
    // display: flex;
    // justify-content: center;
  }
  .asking{
    padding-top: 5vh;
    opacity: 1;
    padding-bottom: 0rem;
    display: none;
  }

  .question{
    padding: 0;
    padding: 2rem;
    padding-top: 120px;
    font-size: 18px;
  }

  .sideLeft, .sideRight {
    width: 30px;
    display: none;
  }

  .sideLeft span{
    top: 64px;
  }

  .sideRight span{
    top: 70px;
  }

  .question img {
    max-width: 80vw;
  }

  .projects{
    width: 100vw;
    padding: 2rem;
    padding-top: 3rem;
  }

  .projects.open {
    transform: translateX(0);
  }

  .info {
    padding: 0;
    padding: 2rem;
    padding-top: 120px;
  }

  .titleArrow{
    opacity: 0;
  }

  .update{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    left: 0;
    justify-content: center;
    opacity: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    white-space: normal;
  }

  .icon{
    font-size: 16px;
  }

  ol span{
    font-size: 16px;
  }
  .askingTitle{
    font-size: 16px;
  }
  .text{
    padding: 0;
  }

  .fixedImage{
    padding: 0;
    max-width: 550px;
  }

  .fixedImage img{
    max-width: 250px;
  }

  .info{
    transform: translate(0);
    text-align: left;
    position: relative;
    height: auto;
    font-size: 20px;
    padding-top: 4rem;
    width: 100vw;
  }

  .info ul, ol{
    padding: 1em;
    list-style: circle;
  }

  .projects{
    transform: translate(0);
    position: relative;
    height: auto;
    font-size: 20px;
  }

  .intro {
    padding-bottom: 5rem;
  }

  .introText p{
    max-width: 100%;
    font-size: 24px;
  }

  .introText p:nth-child(2){
    font-size: 20px;
    max-width: 900px;
  }

  .smallTitle{
    display: block;
    // max-width: 100px;
  }

  .bigTitle{
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 1000px) {
  .update{
    position: fixed;
    text-align: left;
    white-space: nowrap;
    height: 100px;
  }
  .introText p{
    max-width: 100%;
    // font-size: 6rem;
  }

  .introText p:nth-child(2){
    font-size: 3vw;
    max-width: 900px;
  }

}
